/*CSS*/
/*CSS header.tpl*/

/*NAVBAR*/

#mytrn {
	display: none;
}

.navbar {
	background-color: black;
}

.navbar a {
	color: white;
}

.navbar-toggle {
	background-color: white;
	color: black;
}

.navbar-brand {
	padding-left: 50px; /*padding izquierdo iniciales del nav TRN*/
	margin-top: 5px;
}

.navbar-right{
	padding-right: 20px;
}

/* padding y margin para el dropdown del login y registro*/
.dropdown-menu {
	padding: 15px;
}

.dropdown-menu input {
	margin: 10px;
}

/*BOTONES REDES SOCIALES*/
.social {
padding: 15px;
}

/* CSS header.tpl*/
/* ----------------------*/
/* CSS index.tpl*/

section {
	margin: 10px;
	padding: 100px 10px;
	
}

p, h3, h4 {
	padding: 10px;
}

.planes {
	border: 1px double black;
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
/* CSS index.tpl*/


/* CSS footer.tpl */
footer {
	background-color: black;
	color: white;
}

/* CSS footer.tpl */

/* CSS mytrn.tpl */
main {
	margin-top: 60px;
}


.btn-sidenav {
	padding: 10px;
}

#btn-mostrar {
	display: inline;
	font-size: 15px;
}

#btn-ocultar {
	display: none;
}




/* SIDENAV MYTRN */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50PX;
    font-size: 36px;
    margin-left: 500px;
}

#main{
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#ficha-usuario {
	padding: 50px 0;
	background-color: purple;
}

.affix {
	
	background-color: white;
	margin-top: 10px;
	top: 50px;
	width: 100%;
	display: block;
}

/* CSS mytrn.tpl */