/*CSS*/
/*CSS header.tpl*/
.navbar-brand {
	/* padding-left: 50px; /*padding izquierdo iniciales del nav TRN*/
}

.navbar-right{
	padding-right: 70px; /*padding derecho login y el registro */
}

/* padding y margin para el dropdown del login y registro*/
.dropdown-menu {
	padding: 15px;
}

.dropdown-menu input {
	margin: 10px;
}

/*BOTONES REDES SOCIALES*/
.social {
padding: 10px;
}

/* CSS header.tpl*/
/* ----------------------*/
/* CSS index.tpl*/

section {
	margin: 10px;
	padding: 100px 10px;
	
}

p, h3, h4 {
	padding: 10px;
}

.planes {
	border: 1px double black;
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
}
/* CSS index.tpl*/


/* CSS footer.tpl */
footer {
	background-color: black;
	color: white;
	padding: 50px;
}

/* CSS footer.tpl */


/*NAVBAR*/
.navbar {
	background-color: black;
}

.navbar a {
	color: white;
}

.navbar-toggle {
	background-color: white;
	color: black;
}