/*CSS*/
@import 'https://fonts.googleapis.com/css?family=Play';

body {
	width: 100%;
	height: 100%;
	background-image: url("bg-texture.png");
	font-family: 'Play', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

/* ----------------------*/
/* CSS index.tpl*/

section {
	margin: 25px;
	padding-top: 50px;
	padding-bottom: 100px;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0, 0.1);
	border-radius: 5px;
}

.especialidades {
	border-right: 1px solid lightgrey; 
}

p, h3, h4 {
	padding: 10px;
}

.planes {
	box-shadow: 0 0 25px rgba(0,0,0,0.5);
	border-radius: 5px;
	background-color: #ffffff;
	color: black;
}

.noticias {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: #ffffff;
	color: black;
}
/* CSS index.tpl*/


/* CSS footer.tpl */
footer {
	padding: 10px;
	background-color: black;
	color: white;
}
/* CSS footer.tpl */

/* CSS mytrn.tpl */


linea {
	width: 500px;
	height: 500px;
	margin: 20px;
	padding: 30px;
}

main {
	margin-top: 0px;
	width:100%;
}

#menuizq {
	margin-left: -15px;
	margin-right: 0;
	padding-top: 50px;
	background-color: cyan;
	height: 100%;
	z-index: -1;
}

#imgmytrn {
	width: 220px;
}


#btn-cerrar {
	display: none;
}

#submenu {
	background-color: greenlight;
	z-index:1;
	padding: 20px 0;
	width: 100%;
}

#submenu ul li a{
	text-decoration: none;
}

/* -----------------------------TABLET----------------------------- */
@media only screen and (max-width: 991px) {

	#imgmytrn {
		width: 180px;
	}
	
	#menuizq {
		margin-right: -15px;
	}
	
}

/* -----------------------------MOBILE----------------------------- */
@media only screen and (max-width: 425px) {

	#imgmytrn {
		width: 120px;
	}
	#menuizq {
		margin-right: -15px;
		width; 100%;
	}
	
	html {
		font-size: 28px;
	}
	
}
/* CSS mytrn.tpl */


/* CSS login.tpl */


/* CSS login.tpl */



/* TAMAÑO PERSONALIZADO LOGIN */


